.ssss {
  font-size: 10px !important;
}

.sss {
  font-size: 11px !important;
}

.ss {
  font-size: 12px !important;
}

.s {
  font-size: 13px !important;
}

.llll {
  font-size: 14px !important;
}

.lll {
  font-size: 15px !important;
}

.ll {
  font-size: 16px !important;
}

.l {
  font-size: 17px !important;
}

.xxxx {
  font-size: 18px !important;
}

.xxx {
  font-size: 19px !important;
}

.xx {
  font-size: 20px !important;
}

.x {
  font-size: 22px !important;
}

.maxi {
  font-size: 24px !important;
}

.maxii {
  font-size: 26px !important;
}

.maxiii {
  font-size: 28px !important;
}

.maxiiii {
  font-size: 30px !important;
}

.maxmax {
  font-size: 40px !important;
}

.maxmaxmax {
  font-size: 46px !important;
}

.maxmaxmaxs {
  font-size: 52px !important;
}

.icons {
  width: 20px;
  height: 20px;
}

.iconss {
  width: 24px;
  height: 24px;
}

.iconsss {
  width: 28px;
  height: 28px;
}

.iconssss {
  width: 38px;
  height: 38px;
}

.iconlll {
  width: 45px;
  height: 45px;
}

.iconllll {
  width: 50px;
  height: 50px;
}

.iconx {
  width: 55px;
  height: 55px;
}

.mg5 {
  margin: 5px auto 0;
}

.mg10 {
  margin: 10px auto 0;
}

.mg20 {
  margin: 20px auto 0;
}

.mg30 {
  margin: 30px auto 0;
}

.font-img {
  display: block;
  width: 90%;
  height: auto;
  margin: 20px auto;
}

.line-font {
  width: 92%;
  margin: 0 auto;
  justify-content: flex-start;
  line-height: 25px;
}
