html {
  font-size: 14px;
  user-select: none;
  font-family: 微软雅黑;
  overflow-x: hidden;
}


body {
  margin: 0;
  padding: 0;
  line-height: 1;
  background: #F5F5F5;
  color: #555555;
  overflow: hidden;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
  border: 0;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

address,
cite,
code,
em,
th,
i,
var {
  font-weight: normal;
  font-style: normal;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

input {
  outline: 0;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}

input:focus::-webkit-contacts-auto-fill-button {
  opacity: 0;
}
.ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flex{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.fw{
  flex-wrap: wrap;
}
.js{
  justify-content: flex-start;
}
.tooltip{
  position: relative;
}
.tooltip-right{
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
}
.afterh{}
.afterh:after{
  display: block;
  content: '';
  width: 0;
  height: 0;
}
.footer-none{
  height: 55px;
  opacity: 0;
}
.list-enter-active, .list-leave-active{
  transition: opacity .8s;
  opacity: 1;
}
.list-enter, .list-leave-to{
  transition: opacity 0s;
  opacity: 0;
}
.explain-warp{
  height: 40px;
  text-indent: 24px;
  position: relative;
  /*border-left: 3px solid #333333;*/
}
.explain-warp:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 14px;
  width: 4px;
  height: 18px;
  transform: translate(0, -58%);
  background: #333333;
}
.hidek{
  opacity: 0;
  position: fixed;
  z-index: -99;
  top: 1000px;
  left: 0;
}
.tool-line{
  width: 80%;
  height: 100%;
  background: linear-gradient(to right, #fff, #fff 5.5px, transparent 5.5px, transparent);
  background-size: 11px 100%;
  transform: translate3d(12.5%, 0,0);
  position: relative;
}
.tool-line:before{
  content: '';
  display: block;
  position:absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #fff;
  transform: translate(-50%, -50%);
}
.tool-line:after{
  content: '';
  display: block;
  position:absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 6px;
  background: url('https://cdn.xingkwh.com/%E7%AE%AD%E5%A4%B4.png') no-repeat;
  background-size: 100% 100%;
  transform: translate(100%, -40%);
}
.tool-num{
  width: 24%;
  height: 25px;
  text-indent: 10px;
  position: absolute;
  transform: translate(-100%, -100%);
  transition: all 1s;
}
.tool-circle{
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0 0 8px 0px red inset;
}

.cancelimg {
  display: block;
  transform: translate(0px, 100%);
  margin: 0 auto;
}
