html {
  font-size: 14px;
  user-select: none;
  font-family: 微软雅黑;
  min-height: 100%;
  overflow-x: hidden;
  /*background: #31293D;*/
  /*background: linear-gradient(45deg, #253250, #34283A);*/
  /*background: -webkit-gradient(linear, right top, left bottom, from(#253250), to(#34283A));*/
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  line-height: 1;
  overflow: hidden;
}

#app {
  min-height: 100%;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
  border: 0;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

address,
cite,
code,
em,
th,
i,
var {
  font-weight: normal;
  font-style: normal;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

input {
  outline: 0;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}

input:focus::-webkit-contacts-auto-fill-button {
  opacity: 0;
}

.ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.fw {
  flex-wrap: wrap;
}

.js {
  justify-content: flex-start;
}
.footer-none {
  height: 65px;
  opacity: 0;
}
